<template functional>
  <v-row justify="center">
    <v-form class="centered-form">
      <v-autocomplete
        label="Choose exchange"
        solo
        flat
        :items="['Kraken']"
        class="custom-select"
      />

      <v-autocomplete
        label="Choose currency"
        solo
        flat
        :items="['USD', 'BTC']"
        class="custom-select"
      />

      <div class="text-center">
        <img
          width="120"
          src="https://boofcv.org/images/thumb/3/35/Example_rendered_qrcode.png/400px-Example_rendered_qrcode.png"
        />
        <p class="pt-5">
          FGBfvcnkfdnvkk74365832ybvcvdfvfvb
        </p>
      </div>

      <v-btn color="primary" block large>
        Copy
      </v-btn>
    </v-form>
  </v-row>
</template>
<script>
export default {
  name: "DepositTab",
};
</script>
