<template>
  <v-row justify="center">
    <v-form class="centered-form">
      <label class="outer-label">From</label>
      <v-autocomplete
        label="Choose exchange"
        solo
        flat
        :items="['Kraken']"
        class="custom-select"
      />

      <label class="outer-label">To</label>
      <v-autocomplete
        label="Choose exchange"
        solo
        flat
        :items="['Kraken']"
        class="custom-select"
      />

      <v-autocomplete
        label="Choose currency"
        solo
        flat
        :items="['USD', 'BTC']"
        class="custom-select"
      />

      <div class="balance-field">
        <v-text-field
          class="custom-select"
          label="Rebalance amount"
          solo
          flat
          @focusin.prevent="showMenu"
          @focusout.prevent="hideMenu"
        />
        <v-scroll-y-transition>
          <div class="balance-selector" v-show="balanceMenu">
            <span class="total-balance"> Balance: <b>0.04763864</b> </span>
            <div class="buttons-group">
              <v-btn small color="alpha" dark depressed>10%</v-btn>
              <v-btn small color="alpha" dark depressed>25%</v-btn>
              <v-btn small color="alpha" dark depressed>50%</v-btn>
              <v-btn small color="alpha" dark depressed>100%</v-btn>
              <v-btn small color="alpha" dark depressed>Split</v-btn>
            </div>
          </div>
        </v-scroll-y-transition>
      </div>

      <v-btn color="primary" block large>
        Rebalance
      </v-btn>
    </v-form>
  </v-row>
</template>
<script>
export default {
  name: "RebalanceTab",
  data: () => ({
    balanceMenu: false,
  }),
  methods: {
    showMenu() {
      this.balanceMenu = true;
    },
    hideMenu() {
      this.balanceMenu = false;
    },
  },
};
</script>
<style lang="scss">
.balance-field {
  position: relative;
  .balance-selector {
    position: absolute;
    z-index: 2;
    top: 50px;
    background: #ffffff;
    border: 1px solid var(--v-border-base);
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(60, 72, 76, 0.06);
    border-radius: 5px;
    padding: 18px;
    width: 100%;

    .total-balance {
      background: var(--v-primary-lighten5);
      border-radius: 5px;
      color: var(--v-primary-base);
      font-size: 12px;
      line-height: 16px;
      padding: 7px 10px 7px;
    }

    .buttons-group {
      margin-top: 10px;
      button + button {
        margin-left: 10px;
      }
    }
  }
}
</style>
