<template functional>
  <v-row justify="center">
    <v-form class="centered-form">
      <v-autocomplete
        label="Choose exchange"
        solo
        flat
        :items="['Kraken']"
        class="custom-select"
      />

      <v-autocomplete
        label="Choose currency"
        solo
        flat
        :items="['USD', 'BTC']"
        class="custom-select"
      />

      <v-text-field class="custom-select" label="Withdraw amount" solo flat>
        <template v-slot:append>
          <v-btn small color="alpha" dark depressed> Max </v-btn>
        </template>
      </v-text-field>

      <v-btn color="primary" block large>
        Withdraw
      </v-btn>
    </v-form>
  </v-row>
</template>
<script>
export default {
  name: "WithdrawTab",
};
</script>
