<template>
  <v-app>
    <v-dialog :value="true" max-width="790" :scrollable="false">
      <v-card>
        <v-container class="inner-card">
          <v-row justify="space-between">
            <v-col cols="auto">
              <v-tabs v-model="tab" color="dark">
                <v-tab key="deposit">Deposit</v-tab>
                <v-tab key="withdraw">Withdraw</v-tab>
                <v-tab key="rebalance">Rebalance</v-tab>
              </v-tabs>
            </v-col>
            <v-col cols="auto">
              <v-icon large>close</v-icon>
            </v-col>
          </v-row>

          <v-tabs-items v-model="tab">
            <!-- deposit tab -->
            <v-tab-item key="deposit"> <deposit-tab /> </v-tab-item>

            <!-- withdraw tab -->
            <v-tab-item key="withdraw"> <withdraw-tab /> </v-tab-item>

            <!-- rebalance tab -->
            <v-tab-item key="rebalance"> <rebalance-tab /> </v-tab-item>
          </v-tabs-items>
        </v-container>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import DepositTab from "@/components/DepositTab.vue";
import WithdrawTab from "@/components/WithdrawTab.vue";
import RebalanceTab from "@/components/RebalanceTab.vue";

export default Vue.extend({
  name: "App",

  components: { DepositTab, WithdrawTab, RebalanceTab },

  data: () => ({
    tab: "deposit",
  }),
});
</script>
<style lang="scss">
.container.inner-card {
  padding: 0px 30px 70px;

  .v-btn {
    text-transform: initial;
  }

  .centered-form {
    width: 380px;
  }

  .custom-select {
    .v-input__control > .v-input__slot {
      background: var(--v-border-base) !important;
      padding: 0 16px !important;
      border: 1px solid var(--v-border-base);
    }

    &.v-input--is-focused {
      .v-input__control > .v-input__slot {
        border: 1px solid var(--v-info-base);
      }
    }
  }

  .centered-form {
    margin-top: 40px;

    .outer-label {
      font-size: 12px;
      line-height: 16px;
      color: var(--v-dark-base);
      padding: 0px 18px;
    }
  }

  .text-center {
    margin-top: 7px;
  }
}

.v-autocomplete__content.v-menu__content {
  border-radius: 5px !important;
}
</style>
